@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
box-sizing: border-box;

-moz-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
text-size-adjust: 100%;
}
}

*, *::before, *::after {
	box-sizing: inherit;
}

.bg {
	background-color:black;
	margin:0;
}

.button {
border-radius: 50%;
width: 6em;
margin: 1em;
color: #fff;
line-height: 6em;
text-decoration: none;
transition: all .3s linear;
font-family: sans-serif;
}

.button-forwards {
display: inline-block;
background-color: green;
}

.button-backwards {
display: inline-block;
background-color: red;
}

.main {
text-align: center;
}

.clock-face {
background-image: url(../images/clock-face.svg);
width: 300px;
height: 300px;
margin-left: auto;
margin-right: auto;
position: relative;
}

.hand {
width: 14px;
bottom: 50%;
left: calc(50% - 7px);
transform-origin: center bottom;
transition: 6s;
}

.clock-face:target .hour-hand {
transform: rotate(360deg);
}

.hour-hand {
position: absolute;
}

.clock-face:target .minute-hand {
transform: rotate(4320deg);
}

.minute-hand {
position: absolute;
}
